.project-card {
    display: flex;
    gap: 2rem;
}

.img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-container:hover {
    transform: scale(1.1);
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff; /* Ensure text is white */
    margin: 0;
}

.text-container ul {
    column-gap: .5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.text-container span {
    display: flex;
    column-gap: 0.5rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    background-color: rgb(0 49 89 / 1); /* Retain existing color */
    color: #ffffff;
    padding: 0.25rem 0.5rem;
}

.text-container p{
    font-size: 1rem;;
}
li svg {
    width: 1rem;
    height: 1rem;
    color: #ffffff;
}


footer a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    column-gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: #ffffff; /* Ensure text is white */
    background-color: rgb(31 41 55 / 1); /* Retain existing color */
    border: 1px solid #d1d5db;
    border-radius: 0.75rem;
    max-width: fit-content;
    transition: all 0.2s ease-in-out;
    outline: none;
}
footer a:hover {
    background-color: #1f2937;
    border-color: #111827;
    color: #ffffff;
  }
  
footer a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1),
                0 0 0 4px rgba(234, 179, 8, 0.8);
  }
  
footer a:active {
    background-color: #000000;
  }

@media (max-width: 425px) {
    .project-card{
        flex-direction: column;

    }
}