p{
    font: 900;
}

.timeline-item-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}

.projects {
    display: flex;
    justify-content: space-between;
}

.text-conteiner{
    width: 50%;
}



@media (max-width: 768px) {
    .timeline-item-content {
        flex-direction: column;
    }
    .projects {
        flex-direction: column;
    }
    .text-conteiner{
        width: 100%;
    }
}

