h2 {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
    gap: .75rem;
    margin-left: .5rem;
    color: #ffffff; /* Ensure text is white */
}

